/* styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 0;
}
 